body {
  background-color: #f6efd9;
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 40px;
}

img {
  position: absolute;
  top: -50px;
  width: 150px;
  height: 150px;
  border-radius: 13px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 600px;
  background-color: white;
  border: 2px solid #b7a261;
  border-radius: 13px;
}

.contact {
  margin-top: 90px;
}

.role {
  background-color: #fef6dd;
  border: 1px solid #b7a261;
  border-radius: 13px;
  padding: 10px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social a {
  width: 20px;
  height: 20px;
  padding: 6px;
  background-color: white;
  border-radius: 20%;
  border: 1px solid #b7a261;
}

.github {
  text-decoration: none;
  color: black;
}

.info {
  width: 250px;
  height: 250px;
  background-color: #f9f6ea;
  border: 1px solid #b7a261;
  border-radius: 13px;
  width: 100%;
}
.fa-envelope, .fa-location-dot, .fa-calendar {
  width: 20px;
  height: 20px;
  padding: 6px;
  background-color: white;
  border-radius: 20%;
  border: 1px solid #b7a261;
}

hr {
  width: 90%;
  opacity: 50%;
}
.mail, .location, .date {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  padding: 6px;
}

.mailto {
  text-decoration: none;
  color: black;
}

.main {
  max-width: 700px;
  width: 80%;
}

.navbar {
  position: fixed;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
}
